/* Headers*/
body {
    color: #5c617b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
    font-size: 18px;
    font-weight: 500;
}

/* Links */
a {
    position: relative;
    display: inline-block;
    color: #3d5a7f;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 500;
    text-decoration: none;
    outline: 0
}
a:visited {
    color: #3d5a7f;
}
a:hover {
    color: #69b5f8;
    text-decoration: none;
}


/* Buttons */
a.button:hover {
    text-decoration: none
}
.button {
    font-family: proxima-nova, sans-serif;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 9px 15px;
    margin-bottom: 0;
    margin: 0;
    font-size: 13px;
    color: #69717e;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f6f5f5;
    background-image: -webkit-linear-gradient(#fdfdfd 0, #ebe9e9 100%);
    background-image: linear-gradient(#fdfdfd 0, #ebe9e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bdbdce;
    border-bottom-color: #b1b0b9;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.73), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    *margin-left: .3em
}
.button:visited {
    color: #69717e
}
.button:first-child {
    *margin-left: 0
}
.button:hover,
.button.hover {
    background-color: #fafafb;
    background-image: -webkit-linear-gradient(#fefefe 0, #f4f3f6 100%);
    background-image: linear-gradient(#fefefe 0, #f4f3f6 100%);
    color: #3e3f42
}
.button:active,
.button.active {
    background-color: #eeedf3;
    background-image: -webkit-linear-gradient(#f1f0f5 0, #eae9ef 100%);
    background-image: linear-gradient(#f1f0f5 0, #eae9ef 100%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #69717e;
    outline: 0
}
.button.disabled,
.button[disabled] {
    background-color: #f6f5f5;
    background-image: -webkit-linear-gradient(#fdfdfd 0, #ebe9e9 100%);
    background-image: linear-gradient(#fdfdfd 0, #ebe9e9 100%);
    box-shadow: none;
    opacity: .5;
    filter: alpha(opacity=50);
    color: #69717e;
    cursor: default
}
.button:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: 0
}
.button.in-header {
    padding: 6px 12px 7px
}
.button.button_primary .icon.next {
    background: url('//cdn.mxpnl.com/cache/b2cfc671796a7757469a0a08cd736438/images/ui/button_arrow_right_white_flat_blue.png');
    width: 11px
}
.button .icon {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    vertical-align: text-top
}
.button .icon.cancel {
    background: url('//cdn.mxpnl.com/cache/7575994b9a1b53ffa0ba12107bbb45cd/images/ui/cancel.png');
    height: 16px;
    width: 17px
}
.button .icon.list {
    top: 3px;
    background: url('//cdn.mxpnl.com/cache/91196851ffa7b9d3af1cb1ad4afe1b13/images/ui/list.png');
    height: 11px;
    width: 10px
}
.button .icon.send {
    background: url('//cdn.mxpnl.com/cache/0763934270360827736b948e6e5e5905/images/ui/paper_plane.png');
    height: 15px;
    width: 16px;
    vertical-align: -2px
}
.button .icon.add {
    background: url('//cdn.mxpnl.com/cache/0cdb43f2968319cda9b5f9fd58a112bc/images/ui/plus.png');
    height: 15px;
    width: 16px
}
.button .icon.dark_add {
    background: url('//cdn.mxpnl.com/cache/87800652bf8bd4bb60cee9401acad35b/images/ui/dark_plus.png');
    height: 14px;
    width: 13px
}
.button .icon.up,
.button .icon.down {
    height: 13px;
    width: 10px;
    top: 1px
}
.button .icon.back,
.button .icon.next {
    height: 10px;
    width: 13px;
    top: 2px
}
.button .icon.up {
    background: url('//cdn.mxpnl.com/cache/920c5f646a2fe682a5ab3b73e23c188e/images/ui/button_arrow_up.png')
}
.button .icon.down {
    background: url('//cdn.mxpnl.com/cache/8352fa889adf9be3854d7764dfb56157/images/ui/button_arrow_down.png')
}
.button .icon.back {
    background: url('//cdn.mxpnl.com/cache/ecd4d258c7b3e11dabe2ed4306320903/images/ui/button_arrow_left.png')
}
.button .icon.next {
    margin-right: 0;
    margin-left: 7px;
    background: url('//cdn.mxpnl.com/cache/c4cca9774a294a66940c491b9b496bc7/images/ui/button_arrow_right.png')
}
.button .icon.bright_next {
    background: url('//cdn.mxpnl.com/cache/393cbd14a2a636815eeb6b8f73614dbf/images/ui/button_bright_arrow_right.png')
}
.button .icon.success {
    background: url('//cdn.mxpnl.com/cache/a25b4e0000d203d2c88ea4f6952e3afe/images/ui/button_success_checkmark.png');
    width: 20px;
    height: 21px;
    top: -2px
}
.button .icon.tall_cancel {
    background: url('//cdn.mxpnl.com/cache/6ead28843677a85dad12cb50ef61bbcc/images/ui/button_cancel_light_on_dark_large.png');
    width: 20px;
    height: 21px;
    top: -2px
}
.button .icon.send_email {
    background: url('//cdn.mxpnl.com/cache/f37800699222d3a417d1c64bfc1148de/images/engage/send_mail_icon.png');
    width: 21px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 7px
}
.button .icon.send_push {
    background: url('//cdn.mxpnl.com/cache/3089d7da48781112394e950ace76cd76/images/engage/send_push_icon.png');
    width: 21px;
    height: 24px;
    position: absolute;
    left: 7px;
    top: 1px
}
.mpex_button,
.mpex_button:visited {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%);
    box-shadow: inset 0 1px 1px #77bdf4, 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    border: 1px solid #4d93d7;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
}
.mpex_button.in-header,
.mpex_button:visited.in-header {
    line-height: 1
}
.mpex_button:hover,
.mpex_button:visited:hover,
.mpex_button.hover,
.mpex_button:visited.hover {
    background: #5fabf1;
    color: #fff
}
.mpex_button:active,
.mpex_button:visited:active,
.mpex_button.active,
.mpex_button:visited.active {
    background: #5fabf1;
    color: #fff;
    box-shadow: inset 0 1px 1px #48a6f0
}
.mpex_button.disabled,
.mpex_button:visited.disabled,
.mpex_button[disabled],
.mpex_button:visited[disabled] {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%);
    opacity: .5;
    color: white
}
.mpex_button.disabled:hover,
.mpex_button:visited.disabled:hover,
.mpex_button[disabled]:hover,
.mpex_button:visited[disabled]:hover,
.mpex_button.disabled.hover,
.mpex_button:visited.disabled.hover,
.mpex_button[disabled].hover,
.mpex_button:visited[disabled].hover,
.mpex_button.disabled:active,
.mpex_button:visited.disabled:active,
.mpex_button[disabled]:active,
.mpex_button:visited[disabled]:active,
.mpex_button.disabled.active,
.mpex_button:visited.disabled.active,
.mpex_button[disabled].active,
.mpex_button:visited[disabled].active {
    background-color: #61adf0;
    background-image: -webkit-linear-gradient(#6ab5f2 0, #53a0ee 100%);
    background-image: linear-gradient(#6ab5f2 0, #53a0ee 100%)
}

.mpex_input {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #f7f7f7;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #bdbdce;
        border-bottom-color: #b1b0b9;
        color: #747d94;
        display: block;
        font-family: "helvetica neue",helvetica;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 1px #eee;
        line-height: 12px;
        padding: 9px 12px;
        margin: 0px 20px 0px 0px;
        width: 200px;
      }
